<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <mageziner>
                <enable_frontend>1</enable_frontend>
                <api_google>AIzaSyA3LulzdpCqe4OmMqYOtr3rUlUIwMXE2i0</api_google>
            </mageziner>
        </design>
    </default>
</config>
