.mageziner [hidden] {
  display: none !important;
}

.mageziner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  padding-bottom: 50px;
  letter-spacing: 0;
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",  "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  background-color: #171717;
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in;
  -webkit-transform: translateX(calc(-100% - 2px));
          transform: translateX(calc(-100% - 2px));
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.55);
  z-index: 1000;
}
.mageziner input[type="text"],
.mageziner input[type="url"],
.mageziner input[type="email"],
.mageziner input[type="color"] {
  min-height: 40px;
  padding: 5px 10px;
  color: #fff;
  background-color: #23262e;
  border: 1px solid #23262e;
  border-radius: 0;
}
.mageziner input[type="text"], .mageziner input[type="url"] {
  width: 100%;
}
.mageziner input:focus {
  border-color: #f06212;
  outline: 0;
  box-shadow: none !important;
}
.mageziner input[type="color"] {
  padding: 0;
  border: 0;
}
.mageziner select {
  border-radius: 0;
  width: 100%;
  min-height: 40px;
}
.mageziner--open {
  -webkit-transform: none;
          transform: none;
}
.mageziner--open .mgz-close {
  -webkit-transform: translate(25px, 7px);
          transform: translate(25px, 7px);
}
.mageziner__container {
  height: 100vh;
  overflow-y: auto;
}
.mageziner__header {
  padding: 0 20px;
  background-color: #23262e;
}
.mageziner__header h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 16px;
}
.mageziner__panel {
  position: relative;
  background-color: #171717;
  z-index: 1;
  display: none;
}
.mageziner__panel--visible {
  display: block;
}
.mageziner__title {
  position: relative;
  display: inline-block;
  margin: 0 -20px;
  padding-right: 36px;
  background-color: black;
}
.mageziner__title button {
  position: relative;
  padding: 10px 20px;
  padding-left: 35px;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #f06212;
  background-color: transparent;
  border: 0;
}
.mageziner__title button:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9IiNmMDYyMSIgPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vcm1hbCIgZm9udC1zaXplPSIxMiIgdGV4dC1hbmNob3I9InN0YXJ0IiBtaXgtYmxlbmQtbW9kZT0ibm9ybWFsIj48Zz48Zz48cGF0aCBkPSJNMCwyNGwwLC0yNGwyNCwwbDAsMjR6IiBmaWxsPSJub25lIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiI+PC9wYXRoPjxnIGZpbGw9IiNmMDYyMTEiIGZvbnQtZmFtaWx5PSJCaXRzdHJlYW0gVmVyYSBTYW5zIj48cGF0aCBkPSJNMTEsNWwwLDZsLTYsMGwwLDJsNiwwbDAsNmwyLDBsMCwtNmw2LDBsMCwtMmwtNiwwbDAsLTZ6Ij48L3BhdGg+PC9nPjxnIGZpbGw9Im5vbmUiIGZvbnQtZmFtaWx5PSJzYW5zLXNlcmlmIj48L2c+PC9nPjwvZz48L2c+PC9zdmc+") 50% 50% no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mageziner__title button[aria-expanded="true"]:before {
  content: '';
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9IiNmMDYyMSIgPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vcm1hbCIgZm9udC1zaXplPSIxMiIgdGV4dC1hbmNob3I9InN0YXJ0IiBtaXgtYmxlbmQtbW9kZT0ibm9ybWFsIj48Zz48Zz48cGF0aCBkPSJNMCwyNGwwLC0yNGwyNCwwbDAsMjR6IiBmaWxsPSJub25lIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiI+PC9wYXRoPjxnIGZpbGw9IiNmMDYyMTEiIGZvbnQtZmFtaWx5PSJCaXRzdHJlYW0gVmVyYSBTYW5zIj48cGF0aCBkPSJNNSwxMWwwLDJsMTQsMGwwLC0yeiI+PC9wYXRoPjwvZz48ZyBmaWxsPSJub25lIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiI+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==") 50% 50% no-repeat;
}
.mageziner__title button:hover,
.mageziner__title button:focus {
  color: #f06212;
  background: transparent;
  border: 0;
}
.mageziner__title:after {
  content: '';
  border-right: 12px solid #171717;
  border-bottom: 12px solid #171717;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mageziner__section {
  padding: 0 20px 10px;
  border-top: 3px solid black;
  opacity: .8;
  -webkit-transition: opacity .16s ease-in;
  transition: opacity .16s ease-in;
}
.mageziner__section:hover {
  opacity: 1;
}
.mageziner__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .5em;
  color: #f06212;
  border-top: 2px solid black;
}
.mageziner__footer button {
  max-width: calc(50% - 2px);
  background-color: black;
}

.mageziner .mgz-options {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  list-style: none;
}
.mageziner .mgz-options li:not(:last-child) {
  margin-bottom: 10px;
}

.mageziner .mgz-close {
  position: absolute;
  top: 19px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #f06212;
  border: 0;
  border-radius: 3px;
  z-index: 2;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transform: translate(50px, 7px);
          transform: translate(50px, 7px);
  -webkit-transition: translate .5s ease-in;
  transition: translate .5s ease-in;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}
.mageziner .mgz-close:hover, .mageziner .mgz-close:focus {
  background-color: black;
}
.mageziner .mgz-close:hover svg *, .mageziner .mgz-close:focus svg * {
  fill: #f06212;
}
.mageziner .mgz-close svg * {
  fill: black;
}

.mageziner .mgz-option__label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

.mageziner .mgz-checkbox {
  display: block;
  padding: 5px 10px;
  background-color: #23262e;
}

.mageziner .mgz-button-transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  width: calc(100% + 40px);
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #f06212;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.mageziner .mgz-button-transparent:hover, .mgz-button-transparent:focus {
  color: white;
}
.mageziner .mgz-button-transparent svg {
  margin-right: 10px;
}
.mageziner .mgz-button-transparent svg * {
  fill: currentColor;
}

.mageziner .mgz-color-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mageziner .mgz-color-input input {
  max-width: 100%;
}
.mageziner .mgz-color-input [type="color"] {
  width: 50px;
}

.mgz-visuallyhidden {
  display: none;
}

.mageziner {
  /* Chrome styles */
}
.mageziner input[type=color] {
  /* Firefox styles */
}
.mageziner input[type=color]::-webkit-color-swatch-wrapper {
  padding: 3px;
  /* Remove browser's padding around color picker */
  border: none;
}
.mageziner input[type=color]::-webkit-color-swatch {
  border: none;
}
.mageziner input[type=color]::-moz-color-swatch {
  border: 1px solid #23262e;
}
.mageziner input[type=color]::-moz-focus-inner {
  border: none;
  /* Remove browser's padding around color in color picker */
  padding: 0;
  /* Remove browser's padding around color in color picker */
}

.mageziner .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  color: white;
}

.mageziner .select2 {
  width: 100% !important;
}

.mageziner .select2-container--default .select2-selection--single {
  border: 0;
  border-radius: 0;
  background-color: #23262e;
  min-height: 40px;
}

.mageziner .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.mageziner .select2-dropdown {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 0;
}
